<!DOCTYPE html>
<html>
<head>
  <title>Result</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="toolBar">
    <div class="elementsContrainer">
    <h3>Azoz</h3>
    <ul>
      <li>Home</li><li>About us</li><li>More</li>
    </ul>
  </div>
  </div>

  <div class="cityWithDegree">
    <h1 class="cityNameR"> <%= cityNameR %> </h1>
    <h1 class="degreeR"> <%= degreeR %> &#8451;</h1>
  <img src="<%= imgsrc %>">
  </div>
  <script src="server.js"></script>
</body>
</html>
